:root{
	--main: #7b4ee4 ;
	--darkblue: #362078;
	--black: #060606;
	--white: #e7dff4;
}
*{
	margin: 0px;
	padding: 0px;
	font-family: system-ui;
}
.clearfix{
	clear: both;
}
header{
	padding: 20px 0px;
	box-shadow: 2px 2px 15px var(--black);
}
.container{
	width: 1140px;
	max-width: 100%;
	margin: 0 auto;
}
.col-div-6{
	width: 50%;
	float: left;
}
.logo{
	font-weight: bold;
	font-size: 25px;
	color: var(--black);
}
.logo span{
	color: var(--main);
}
.nav{
	float: right;
}
.nav li{
	list-style: none;
	float: left;
	padding: 3px 20px;
}
.nav li a{
	text-decoration: none;
	color: var(--black);
}
.nav li button{
	padding: 7px 15px;
    background: var(--main);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: -5px;
}
.banner-section{
	background: var(--main);
	height: 400px;
	overflow: hidden;
}
.heading{
	color: var(--white);
    font-size: 40px;
    letter-spacing: 1px;
    margin-top: 14%;
}
.p1{
	color: white;
    width: 395px;
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-size: 14px;
}
.input-box{
	box-shadow: 1px 7px 8px 0px #222121;
    width: 360px;
    border-radius: 50%;
}
.input-box input[type="text"]{
	padding: 9px;
    width: 265px;
    border: none;
    border-radius: 5px;
    outline: none;
}
.input-box button{
	padding: 10px 27px;
    border-radius: 0px 5px 5px 0px;
    border: none;
    margin-left: -6px;
    background: var(--darkblue);
    color: white;
    cursor: pointer;
}
.ban-img{
	width: 250px;
	margin-bottom:-50px;

}
.b-img{
	width: 100%;
	border-radius: 10px;
}
.heading1{
	margin-top: 20px;
	color: var(--main);
	font-size: 14px;
	text-transform: uppercase;
}
.blog-heading{
	font-size: 29px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--black);
}
.text{
	font-size: 13px;
    letter-spacing: 1px;
    color: var(--black);
    margin-bottom: 20px;
}
.name{
	text-transform: uppercase;
    font-weight: 600;
    color: #a1a1a1;
    font-size: 14px;
}
.lr-box{
	padding: 10px 20px;

}
.b-img-1{
	width: 100%;
	height: 160px;
	border-radius: 10px;
	margin-top: 7px;
}
.blog-heading-1{
	font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--black);
}
.line{
	    width: 100%;
	    margin-top: 15px;
    border: none;
    height: 1px;
    background: #ddd;
}
.lr-box:hover{
	opacity: 0.5;
	cursor: pointer;
}
.box-1:hover{
	opacity: 0.5;
	cursor: pointer;
}

.box-2{
	width: 28.5%;
	float: left;
	margin: 25px;
}
.box-2:hover{
	opacity: 0.5;
	cursor: pointer;
}
.foot-section{
	background: var(--main);
}
.foot-inner{
	width: 500px;
	margin: 0 auto;
	padding: 50px;
	text-align: center;
}
.ibox2{
	margin: 0 auto;
	width: 380px;
}
footer{
	background:var(--darkblue);
	padding: 15px;
}
footer p{
	color: var(--white);
	text-align: center;
}