@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&display=swap');
:root {
    --main-bg-color: #bd6418;
    --font1: 'Baloo Bhai 2', cursive;
    --font2: 'Roboto', sans-serif;
}

.font1 {
    font-family: var(--font1);
}

.font2 {
    font-family: var(--font2);
}

.max-width-1 {
    max-width: 80vw;
}

.max-width-2 {
    max-width: 60vw;
}

.m-auto {
    margin: auto;
}

.mx-1 {
    margin-left: 24px;
    margin-right: 24px;
}

.my-2 {
    margin-bottom: 32px;
    margin-top: 32px;
}

.btn {
    padding: 0px 15px;
    padding-top: 4px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 6px;
    font-family: var(--font1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    color: white;
    background-color: var(--main-bg-color);
}

.form-input {
    padding: 0 2px;
    padding-top: 4px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 0 14px;
    font-family: var(--font1);
}

.form-box input, textarea {
    width: 52vw;
    padding: 0px 6px;
    margin: 7px 0;
    font-size: 12px;
    font-family: var(--font1);
    border: 2px solid var(--main-bg-color);
    border-radius: 8px;
}