body{
    margin : 0;
}
.footer{
    border-top: 1px solid black;
    margin-top: 10rem;
    /* border: 2px solid black; */
    /* padding: 23px 23px; */
    background: #78bd72;

  
}

.img-box {
    display: flex;
    justify-content: center;
    /* border: 2px solid blue; */
}
.img-box img{
    
    margin : 12px 12px;
    /* border: 2px solid blue; */
    border-radius: 50%;
    border: 2px solid black;
    width: 45px;
    height: 45px;
}
.img-box img:hover{
    opacity: 0.7;
}
.copyright{
    display: flex;
    justify-content: center;
    font-size: 22px;
    /* border: 2px solid blue; */

}
#admin{
    color: rgb(3, 24, 0);
    margin-left: 6px;
    margin-right: 6px;
    font-weight: bold;
}
.footer a{
    
    text-decoration: none;

}

 .footer a:hover{
    text-decoration: underline;
}
